.profile {
    background-color: #f9f9f9;
    padding: 60px;
    margin: 0 auto;
    display: block;
    height: 700px;
}

.spacer {
    height: 30px;
    border-bottom: 1px solid #999;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

.photo img {
    border-radius: 50%;
    width: 150px;
    border: 1px solid #999;
}