.post {
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.post_head {
    display: block;
}

.post_head .photo {
    display: inline-block;
}

.post_head .photo img {
    border-radius: 50%;
    width: 50%;
}

.post_head .user_info {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
}

.post_body, .text, .likes {
    margin-top: 30px;
    text-align: start;
    color: #1c1e21;
    line-height: 1.34;
}

.post_body .text {
    font-size: 16px;
}

.post_body .likes {
    color: #717171;
}

.post_body .buttons {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    margin: 0 auto;
    padding: 5px;
    margin-top: 10px;
}

.chat {
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.chat .conn {
    width: 8px;
    height: 8px;
    background-color: green;
    border-radius: 50%;
}