@font-face {
    src: url("/fileadmin/templates/fonts/tt-norm-fonts/TTNorms-Regular.otf");
    font-family: "tt-norm";
}

@font-face {
    src: url("/fileadmin/templates/fonts/tt-norm-fonts/TTNorms-Bold.otf");
    font-family: "tt-norm";
    font-weight: bold;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

html, body {
    font-family: tt-norm;
}

.header {
    vertical-align: middle;
    line-height: 50px;
}

.header .title {
    display: inline;
}

.content-margin {
    margin-top: 50px;
}
