@font-face {
    src: url("/fileadmin/templates/fonts/tt-norm-fonts/TTNorms-Regular.otf");
    font-family: "tt-norm";
}

@font-face {
    src: url("/fileadmin/templates/fonts/tt-norm-fonts/TTNorms-Bold.otf");
    font-family: "tt-norm";
    font-weight: bold;
}

body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

* {
    font-family: tt-norm;
    font-smooth: never;
}


