.panel-custom{
    background-color: rgba(240, 240, 240, 0.7);

}


.state{
    right: -30px;
    position: relative;
    bottom: 40px;
    height:10px;
}

.badegeColorGray{
    background-color: gray;
}

.badegeColorGreen{
    background-color: green;
}