.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item {
    text-align: center;
    flex-grow: 1;
    background-color: white;
    width: 100px;
    margin: 10px;
}

.ico img {
    width: 80px;
    height: auto;
}