
h1 {
    font-weight: bold;
    color: black;
    font-size: 32px;
  }

  .Roberto_team-blocks{
    border: 3px solid red;
    display: inline-block;
    width: 100%;
    height: 100%;
 }

 .RobertoPersonaContainer{
  margin: 20px;
  text-align: center;
}

 .RobertoPhotoAbout{
  text-align: center;
  background-repeat: no-repeat;
}

 .RobertoNameAbout{
    text-align: center;
    border: 1px dotted black;
    border-radius: 5px;
 } 

 .RobertoDescriptionAbout{
   text-align:justify;
   padding: 10px;
   border: 1px dotted black;
   border-radius: 5px;
 }

 .imageClip{
   clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
 }
